header {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px;
    margin-right: 10px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    margin-left: 20px;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}